@page "/about"

<PageTitle>About us | Blogging Web</PageTitle>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        main {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        section {
            margin-bottom: 20px;
        }

        h2 {
            color: #333;
        }

        p {
            line-height: 1.6;
            color: #555;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>

    <header>
        <h1>About Us</h1>
    </header>

    <main>
        <section>
            <h2>Our Story</h2>
            <p>Blog Web began as a vision to connect individuals through shared narratives, evolving into a dynamic online space where stories unfold and ideas flourish, shaping a global community of diverse voices.</p>
        </section>

        <section>
            <h2>Our Mission</h2>
            <p>Empowering users to share their thoughts and experiences, our blog web mission aims to create a diverse platform for informative and engaging content, fostering a vibrant online community.</p>
        </section>

        <section>
            <h2>Meet the Team</h2>
            <p>Ali Zain 086 & Abdullah Amir 040.</p>
        </section>
        <section>
            <h2>You can Follow us on</h2>
            <p>Youtube</p>
            <p>Instagram</p>
            <p>Facebook</p>
        </section>
    </main>

    
</body>
</html>
